@font-face {
  font-family: "SpaceGrotesk";
  src: url("./assets//fonts/SpaceGrotesk-VariableFont_wght.ttf")
    format("truetype");
  /* ตัวอย่างเฉพาะเนื้อหา font อื่น ๆ ที่คุณต้องการใช้ */
}

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: black;
  font-family: "SpaceGrotesk", sans-serif;
  display: flex;
  flex-direction: center;
  max-width: 1300px;
  margin: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

@media screen and (max-width: 1280px) {
  body {
    display: block;
    margin: 0;
    width: 100%;
  }
}
